.gif {
    width: 200px;
    height: 200px;
    margin-top: 90px;
    transform: translateX( calc(50vw - 100px));
}
.button {
    margin-top: 10px;
    transform: translateX( calc(50vw - 85px));
    &__buy {
        margin-top: 30px;
    }
}
.bottom {
    position: fixed;
    bottom: 0;
    transform: translateX( calc(50vw - 114px));
}